/* Add this CSS to handle the blur effect */
.blur-background {
  backdrop-filter: blur(5px);  /* Adjust the blur value as needed */
  -webkit-backdrop-filter: blur(5px); /* For Safari */
}
.chatbox::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

.chatbox {
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.chatbox {
  overflow-y: auto;
  max-height: 80vh;  /* Limit the height to prevent overflow */
}
.btn-danger {
  --bs-btn-bg: #cd4e5a;
}